<%= image_tag @yoyo.image %>
<h1><%=@yoyo.title %></h1>
<p><%=@yoyo.description %></p>


<div id="edit_tools">
  <%= link_to "ðŸ“", edit_yoyo_path(@yoyo),
    title: "edit" %>
  <%= link_to "ðŸ’¥", yoyo_path(@yoyo),
    title: "destroy",
    method: :delete,
    data: {confirm: "Permanently remove?"} %>
</div>

<%= link_to "<< Back to all yoyos", yoyos_path %>

<h4>Comments (<%= @yoyo.comments.size %>) <small>Read at your own risk</small></h4>

<%= render partial: 'yoyos/comment', collection: @yoyo.comments %>

<%= render partial: 'comments/editor' %>
