<%= image_tag @yoyo.image.variant(auto_orient: true, resize: '512x512') %>
<h2><%=@yoyo.title %></h2>
<div class="make_model">
  <%=  @yoyo.model.name %> by <%= @yoyo.maker.name %></div>
<p><%=@yoyo.description %></p>

<% if current_user %>
  <div id="edit_tools">
    <%= link_to "ðŸ“", edit_yoyo_path(@yoyo),
      title: "edit" %>
    <%= link_to "ðŸ’¥", yoyo_path(@yoyo),
      title: "destroy",
      method: :delete,
      data: {confirm: "Permanently remove?"} %>
  </div>
<% end %>

<p>
  <%= link_to "<< Back to all yoyos", yoyos_path %>
</p>

<details>
<summary><strong>Comments</strong>(<%= @yoyo.comments.size %>) <small>Read at your own risk</small></summary>

<%= render partial: 'yoyos/comment', collection: @yoyo.comments %>

<%= render partial: 'comments/editor' %>

</details>
