<!DOCTYPE html>
<html>
  <head>
    <title>Yoyos of Spencer Berry</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= favicon_link_tag 'apple-touch-icon.png', rel: 'apple-touch-icon', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans|Raleway:600&display=swap' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="section">
        <div class="title">
          <h1><%= link_to "Yoyo Drawer", yoyos_path, title: "See all yoyos" %></h1>
          <span class="subtitle"><%= Yoyo.all.count %> and counting... </span>
        </div>
        <% if current_user %>
          <%= link_to "Add another", new_yoyo_path, class: "link" %>
        <% end %>
    </header>

    <main class="section">
      <% if flash[:notice] %>
        <div class="flash notice"><%= flash.notice %></div>
      <% elsif flash[:alert] %>
        <div class="flash alert"><%= flash.alert %></div>
      <% end %>
      <%= yield %>
    </main>

    <footer class="section">
      <small id="credits">Created by <a href="https://spncr.dev" title="Spencer Berry - Developer">spncr</a></small>

      <small id="user_options">
        <% if current_user %>
          <%= link_to "Edit profile", edit_user_path(current_user.id) %>
          <%= link_to "Log out", :logout, method: :post %>
        <% else %>
          <%= link_to "Log in", :login %> |
          <%= link_to "Register", new_user_path %>
        <% end %>
      </small>


    </footer>
  </body>
</html>
